<h2><%=@cuisine.category%></h2>

<ul>
  <%@cuisine.dishes.each do |d|%>
    <%d.photos.each do |p|%>
    <div class="show">
      <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'img-thumbnail' %>
      <br>

    <%end%>
  <%end%>

</ul>
