<h2>All users</h2>
<div class="row">

<ul>
  <% @users.each do |u|%>
  <div class="collection col s12 m6 l3">

  <li>
    <%= link_to u.username, user_path(u.id), class:'collection-item' %>
  </li>
</div>

  <%end%>
</ul>
</div>
