
<h2><%=@user.username%>'s photos</h2>

<ul>
  <%@user.photos.each do |p|%>
  <%= link_to (image_tag p.image), photo_path(p.id), :class => 'post_preview' %>
  <br>

  <%= p.description %>
  <br>
<%end%>

</ul>
