<h2>All venues</h2>

<ul>
  <% @venues.each do |v|%>
  <li>
    <%= link_to v.venue_name, venue_path(v.id) %>

  </li>
<%end%>

</ul>

<%=link_to 'Add new venue', new_venue_path(@user_id)%>
<br>
<%=link_to 'Add new photo', new_photo_path(@user_id)%>
