<h2>All venues</h2>

<ul>
  <% @venues.each do |v|%>
  <li>
    <%= link_to v.venue_name, venue_path(v.id) %>

  </li>
<%end%>

</ul>

<%#=link_to 'Add new venue', new_venue_path(@user_id)%>
<%=link_to 'Add new dish', new_dish_path(@user_id)%>
