<h2>All dishes <%=link_to '+', new_dish_path(@user_id)%></h2>
<br>
  <%@dishes.each do |d|%>
  <%d.photos.each do |p|%>
    <div class="index">
  <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'img-thumbnail' %>
</div>
  <%end%>
<%end%>
