<h2><%=@dish.name%> - see all</h2>

<!-- <%#= cl_image_tag @dish.photos.image %> -->
  <%#raise 'hell'%>
  <br>
  <%@dish.photos.each do |p|%>
  <div class="show">
    <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'post_preview' %>

  </div>

  <%end%>

<br>
  Cuisine:
  <ul>
    <% @dish.cuisines.each do |c|%>
      <%= link_to c.category, cuisine_path(c.id) %>
    <%end%>

  <br>
  <!-- <div class="selfie">

  <%#= cl_image_tag @user.image%>
</div>
  <%#=link_to @dish.user.username, user_path(@dish.user.id) %> said: <%#= @photo.description %>
  <br> -->
</ul>
