<h2>Success!</h2>

  <%@dish.photos.each do |p|%>
  <div class="index">
    <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'img-thumbnail' %>

  </div>
  <%end%>

<br>
Cuisine:
<ul>
    <% @dish.cuisines.each do |c|%>
      <%= link_to c.category, cuisine_path(c.id) %>
      <br>
    <%end%>
</ul>

<br>
Category:
  <ul>
    <% @dish.categories.each do |cat|%>
      <%= link_to cat.name, categories_path(cat.id) %>
      <br>
    <%end%>
  </ul>
  <br>

</ul>
