<h2>All photos</h2>

<ul>

  <%@photos.each do |p|%>
  <%=p.user.username%> took this photo at <%=p.venue.venue_name%>
  <br>
  <%= image_tag p.image, :class => 'post_preview' %>
  <br>

<%end%>
</ul>
