
 @import url('https://fonts.googleapis.com/css?family=Lobster|Patrick+Hand+SC|Poiret+One|Spectral');

 /*font-family: 'Spectral', serif;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Lobster', cursive;
font-family: 'Poiret One', cursive;*/

 /* Add a black background color to the top navigation */

 .topnav {
     background-color: #333;
     overflow: hidden;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
     background-color: #ddd;
     color: black;
 }

 /* Add a color to the active/current link */
 .topnav a.active {
     background-color: rgb(21, 41, 125);
     color: white;
 }

body {
  background-color:rgba(145, 122, 226, 0.49);
  font-family: 'Poiret One', cursive;
}

a {
  font-family: 'Patrick Hand SC', cursive;
}

#logo {
  color: rgb(223, 31, 81);
  /*border-radius: 90%;*/
}

#icon {
  border-radius: 90%;
  max-width: 30px;
}
/*.see {
border-width: thick;
}*/
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.index {
  display: inline;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.index img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 30%;
}

.selfie img {
  max-width: 20px;
  max-height: 20px;
  border-radius: 30%;
  display: inline;
}
.show img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 30%;
  display: inline;
}

/*
div > img{
  height:200px;
  width:200px;
}

img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  /*clear: both;*/
  /*border-top: solid 1px;*/
  /*margin: -200px 0 0 350px;
  flex-flow: row nowrap;*/
  /*float:left*/
  /*position: relative;*/



/*}*/

.post_detail{
  max-width: 200px
}

.post_preview{
  max-width: 150px;
}
