<h2><%=@category.name%></h2>
<div class="row">

  <ul>
    <!-- show all venues with dishes under X category. Show photos for each venue listed -->
    <%@category.dishes.each do |d|%>
      <div class="col s12 m4 l2">

        Venue: <%=link_to (d.venue.venue_name), venue_path(d.venue)%>

        <%d.photos.each do |p|%>

        <!-- <div class="show"> -->
        <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'img-thumbnail' %>
        <%end%>
      </div>
    <%end%>
  </ul>
</div>
